@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Centro Médico Carlos Monge Alfaro</h2>
    <div class="row justify-content-center">
        <div class="col-md-4 card p-4 shadow-sm">
            <form id="loginForm">
                <h3 class="h5 mb-3 text-secondary">Iniciar Sesión</h3>
                
                <div class="form-group mb-3 text-start">
                    <label for="username" class="form-label font-weight-bold">Usuario</label>
                    <input type="text" id="username" name="Username" class="form-control" placeholder="Ingrese su usuario" required />
                </div>
                
                <div class="form-group mb-4 text-start">
                    <label for="password" class="form-label font-weight-bold">Contraseña</label>
                    <input type="password" id="password" name="Password" class="form-control" placeholder="Ingrese su contraseña" required />
                </div>
                
                <div id="errorMessage" class="alert alert-danger d-none mb-3" role="alert">
                    Usuario o contraseña incorrectos.
                </div>

                <button type="submit" class="btn btn-primary w-100">Ingresar</button>
            </form>
        </div>
    </div>

    <hr class="my-4" />
</div>

<script>
    // USUARIO CREADO DE FORMA LOCAL SOLO PARA PRUEBA DE INICIO DE SESIÓN, SE DEBE REEMPLAZAR POR UN MÉTODO DE AUTENTICACIÓN REAL EN EL FUTURO
    document.getElementById('loginForm').addEventListener('submit', function (e) {
        e.preventDefault(); 

        const usuario = document.getElementById('username').value;
        const contrasena = document.getElementById('password').value;
        const errorDiv = document.getElementById('errorMessage');

    
        if (usuario === "usuarioPrueba" && contrasena === "1234") {
            errorDiv.classList.add('d-none');
           
            window.location.href = '/Home/VistaAdministracion';
        } else {
            
            errorDiv.classList.remove('d-none');
        }
    });
</script>

