@{
    ViewData["Title"] = "Bienvenida";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bienvenido al Centro Médico Carlos Monge Alfaro</h1>
    <p class="lead mt-4">Sistema integral de gestión de pacientes y especialidades.</p>

    <div class="mt-5 d-flex justify-content-center gap-3">
        <a asp-controller="Cuenta" asp-action="Login" class="btn btn-outline-primary btn-lg shadow">
            Iniciar Sesión
        </a>
        <a asp-controller="Cuenta" asp-action="Registrar" class="btn btn-primary btn-lg shadow">
            Registrarse como Paciente
        </a>
    </div>
</div>